<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Account</title>
</head>
<body>
<div th:if="${param.error}">
  <span style="color:red;" th:text="${param.error}"></span>
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<!-- Display the username -->
<!--<h1>Account: <span th:text="${user.getUsername()}"></span></h1>-->
<div th:replace="~{::header}"></div>

<!-- Links for navigation to other pages -->
<form th:action="@{/getAccount}" method="post">
  <div>
    <a th:href="@{/library}">
      <button type="button">Game Library</button>
    </a>
  </div>
  <div>
    <a th:href="@{/settings}">
      <button type="button">Settings</button>
    </a>
  </div>
</form>

<!-- Conditionally Display Admin-Only Buttons -->
<div sec:authorize="hasRole('ROLE_ADMIN')">
  <form th:action="@{/adminDashboard}" method="post">
    <button type="submit">Admin Dashboard</button>
  </form>
  <form th:action="@{/adminManageUsers}" method="post">
    <button type="submit">Manage Users</button>
  </form>
</div>

<!-- Logout Button -->
<form th:action="@{/logout}" method="post">
<div>
  <button type="submit">Logout</button>
</div>
</form>
</body>
</html>
