<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Account</title>
</head>
<body>
<div th:if="${param.error}">
  <span style="color:red;" th:text="${param.error}"></span>
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<!-- Display the username -->
<h1>Account: <span th:text="${user.getUsername()}"></span></h1>

<!-- Links for navigation to other pages -->
<form th:action="@{/getAccount}" method="post">
  <div>
    <a th:href="@{/library}">
      <button type="button">Game Library</button>
    </a>
  </div>
  <div>
    <a th:href="@{/settings}">
      <button type="button">Settings</button>
    </a>
  </div>
  <!-- Logout Button -->
  <div>
    <button type="submit">Logout</button>
  </div>
</form>

<!-- Form to navigate to the forum page of a specific game -->
<form th:action="@{/forum/getForumPosts_Game}" method="get">
  <div>
    <label for="gameID">Enter Game ID for Forum:</label>
    <input type="text" id="gameID" name="gameID" placeholder="Enter Game ID" required/>
    <button type="submit">Go to Forum</button>
  </div>
</form>

</body>
</html>
