<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<!-- Fragment for displaying the header -->
<div th:fragment="header">
    <h1 th:text="${headerText}">Header</h1> <!-- The text here will be dynamically replaced -->
</div>

<!-- Fragment for displaying game results -->
<div th:fragment="gameResults">
    <h2>Game Results</h2>
    <div th:each="game : ${games}">
        <form th:action="@{/library/addGame}" method="get">
            <input type="hidden" name="gameID" th:value="${game.gameID}" />
            <button type="submit" class="full-width-btn"
                    th:text="${game.gameName}">
            </button>
        </form>
        <hr>
    </div>
</div>
<!-- Fragment for displaying user results -->
<div th:fragment="userResults">
    <h2>User Results</h2>
    <div th:each="user : ${users}">
        <form th:action="@{/adminAccountSettings}" method="get">
            <input type="hidden" name="username" th:value="${user.username}" />
            <button type="submit" class="full-width-btn"
                    th:text="${user.username}">
            </button>
        </form>
        <hr>
    </div>
</div>

<!-- Fragment for changing username of account-->
<div th:fragment="changeUsername">
    <h1 th:text="${headerText}">Header</h1> <!-- The text here will be dynamically replaced -->
</div>
<!-- Fragment for changing e-mail address of account-->
<div th:fragment="changeEMail">
    <h1 th:text="${headerText}">Header</h1> <!-- The text here will be dynamically replaced -->
</div>
<!-- Fragment for changing password of account-->
<div th:fragment="changePassword">
    <div><label> Current Username : <input type="text" name="username"/> </label></div>
    <div><label> New Username : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <!-- Create Login Button -->
    <div><button type="submit" name="action" value="Login">Login</button></div>
</div>
</body>
</html>

