<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
  <span style="color:red;" th:text="${param.error}"></span>
</div>
<div th:if="${param.warning}">
  <span style="color:orangered;" th:text="${param.warning}"></span>
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<div th:replace="~{fragments::header}"></div>
<form th:action="@{/login}" method="post">
  <!-- Create Input fields -->
  <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>

  <!-- Create Login Button -->
  <div><button type="submit" name="action" value="Login">Login</button></div>
</form>

<!-- Return to Home -->
<div>
  <a href="/home">
    <button type="button">Return</button>
  </a>
</div>
</body>
</html>
