<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <title>Settings</title>
  </head>
  <body>
    <div th:if="${param.error}">
      <span style="color:red;" th:text="${param.error}"></span>
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    <div th:replace="~{fragments::header}"></div>

    <!-- Admin settings page -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      <h1 th:text="'Admin Page'"></h1>
    <!--      TODO: Add in buttons for changing account password, (un)banning account, setting account role, etc-->
    </div>

    <!-- User settings page -->
    <div sec:authorize="hasRole('ROLE_USER')">
      <h1 th:text="'User Page'"></h1>

    <form th:action="@{/settings/changeUsername}" method="post">
      <button type="submit">Change Username</button>
    </form>
    <form th:action="@{/settings/changeEMail}" method="post">
      <button type="submit">Change E-Mail Address</button>
    </form>
    <form th:action="@{/settings/changePassword}" method="post">
      <button type="submit">Change Password</button>
    </form>

    </div>

    <!-- Return to account -->
    <div>
      <a href="#" th:href="@{/account}">
        <button type="button">Back to Account</button>
      </a>
    </div>
  </body>
</html>